.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0,0,0,0.08);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.circle:hover{
    background-color: #cbccce;
}
.circle:active{
    background-color: red;
}

.twitter{
    color: white;
    background-color: #1da1f2;
}
.marginL{
    margin-left: 10px;
}
.marginRL{
    margin-left: 10px;
    margin-right: 10px;
}