.circle {
    width: 35px;
    height: 35px;
    color: #605e58;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid #f4f0ea;
    box-sizing: border-box;
}
.circle.circleOpaque {
    color: #FFFFFF;
    background: #80A8CC;
    border: 1px solid #80A8CC;
}