    
.Box{
    justify-content: center;
    padding: 80px 20% 20px;
}
  
.BoxTitle.Shadow{
    background-color: rgb(255, 255, 255);
    display: flex;
}

.BoxContent.Shadow{
    height: 1000px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}

.Shadow{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
}

.boxHeaderContent{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
}

.textHeaderTitle{
    color: #999999;
    font-size: 100%;
}

.textHeaderNumber{
    font-size: 120%;
}

.boxHeaderContent:hover{
    border-bottom: 2px solid #858585;
}

.boxHeaderContent:active{
    border-bottom: 2px solid #1e90ff;
}

.circle:active{
    background-color: #1e90ff;
    border-color: #1e90ff;
}

@media screen and (max-width: 767px) {
    .BoxTitle.Shadow{
        flex-wrap: wrap;
    }

    .Box{
        padding: 80px 2% 20px;
    }
}