.Box{
    justify-content: center;
    padding: 80px 20% 20px;
}
  
.BoxTitle.Shadow{
    height: 60px;
    background-color: rgb(255, 255, 255);
}

.BoxContent.Shadow{
height: 1000px;
margin-top: 20px;
background-color: rgb(255, 255, 255);
}

.Shadow{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
}
