.Box{
    justify-content: center;
    padding: 80px 20% 20px;
}
 body{
     background: #f2eee9;
 } 
.BoxTitle.Shadow{
    min-height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.BoxContent.Shadow{
height: 1000px;
margin-top: 20px;
background-color: rgb(255, 255, 255);
}

.Shadow{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
}

.boxHeaderContent{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textHeaderTitle{
    color: #999999;
    font-size: 100%;
}

.textHeaderNumber{
    font-size: 120%;
}

div.boxHeaderContent:hover{
    border-bottom: 1px solid #858585;
}

div.boxHeaderContent:active{
    border-bottom: 1px solid #1e90ff;
}

div.circle:active{
    background-color: #1e90ff;
    border-color: #1e90ff;
}
@media (max-width:767px){
    .Box{
        padding: 80px 3% 20px;
    }
    .BoxTitle.Shadow{
        flex-wrap: wrap;
    }
}