.header, .headerMobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 200;
}

.headerMobile {
  display: none;
}

 .leftContainer {
  flex: 4;
}

 .rightContainer {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

 .logoContainer {
  flex: 1;
}

 .logoContainer .logo {
  color: #80A8CC;
}

.brand {
  display: inline-flex;
  padding: 12px 14px;
  border-right: 1px solid #f2eee8;
}

ul.nav {
  display: inline-flex;
  list-style: none;
  padding: 0;
  padding-left: 10px;
  margin: 0;
}
ul.nav li {
  padding: 12px 10px;
  cursor: pointer;
}
ul.nav li.active, ul.nav li.active:hover, ul.nav li:active {
  border-bottom: 1px solid #80A8CC;
}
ul.nav li:hover {
  border-bottom: 1px solid #cbccce;
}

.profile {
  padding: 12px;
}

.menuButton {
  display: inline-flex;
  margin-left: 10px;
}

.sideMenu {
  position: fixed;
  top: 60px;
  left: -100%;
  bottom: 0px;
  width: 80%;
  background: #f2eee8;
  z-index: 100;

  transition: all 0.5s;
}

.sideMenu.sideMenuShow {
  left: 0;
}

.sideMenu .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sideMenu .container .sideHeader {
  padding: 7px;
}
.sideMenu .container .sideFooter {
  border-top: 1px solid #dddbd5;
  box-sizing: border-box;
  text-align: center;
  padding: 7px;
  font-size: 12px;
  font-weight: bold;
  color: #c7c3b5;
}
.sideMenu .container .sideContent {
  flex: 1;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
  .headerMobile {
    display: flex;
  }
}