.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 60px;
    top: 0;
    display: flex;
}

.left-head{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.center-head{
    flex: 1;
    color: #80A8CC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-head{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right-head-text {
    padding: 5px;
    border: 1px solid gray;
    display: inline-flex;
    border-radius: 10px;
}
.right-head-text > input {
    border: none;
    outline: none;
    background: none;
    width: 20vw;
}
.right-head-icon {
    padding-right: 10px;
}

.head-first-icon {
    padding: 0 10px 0 0;
    border-right: 1px solid black;
    height: 100%;
    align-items: center;
    display: flex;
}
.head-second-icon {
    height: 100%;
    align-items: center;
    display: flex;
}