.app-header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: 60px;
    left:0;
    right:0;
}
.left-content{
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    flex:4;
}
.right-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    flex:4
}
.logo{
    display: flex;
    color:#80A8CC;
    justify-content: center;
    align-items: center;
    flex:1;  
}
.before-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 2px solid rgba(0,0,0,0.08); 
}