.appHeader{
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: 60px;
    left:0;
    right:0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
    background-color: white;
}
.leftContent{
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    flex:4;
}
.rightContent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    flex:4
}
.logo{
    display: flex;
    color:#80A8CC;
    justify-content: center;
    align-items: center;
    flex:1;  
}
.beforeLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 2px solid rgba(0,0,0,0.08); 
}
.appHeaderMobile{
  display: none;
}
@media all and (max-width: 768px){
    .appHeader{
        display: none;
    }
    .appHeaderMobile{
        position: fixed;
        display:flex;
        left:0;
        right:0;
        justify-content: space-around;
        height: 60px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
        background-color: white;
    }
}
.sidemenu{
    /* display: flex; */
    position: absolute;
    padding-left : 10px;
    top: 0;
    bottom: 0;
    left:0;
    display: flex;
    align-items: center;
}
.mobileLogo{
    display: flex;
    color:#80A8CC;
    justify-content: center;
    align-items: center;
    
}