.container {
	background: #dddddd;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);

	position: absolute;
	left: 0;
	top: 60px;
	width: 80vw;
	height: calc(100vh - 100%);

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.hidden {
	display: none;
}

.searchBarContainer {
	padding: 10px;
}

.menuContainer {
	flex: 1;
}

.creditContainer {
	padding: 10px;

	border-top: solid 1px rgba(128, 128, 128, 0.5);
	color: gray;
	text-align: center;
}

@media all and (max-width: 768px) {
	
}
