  .Box-Header {  
    display: flex;  
    height: 60px;
    position: fixed;
    top:0;
    width:100%;
  } 
  
  .Header4 {
    flex-grow: 4;
  } 
  
  .Header1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    color:#80A8CC;
    size : 2x;
  }
  
  .shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
  }
  
  .box-bg {
    background-color: white;
  }
  