  .Box-Header {  
    display: flex;  
    height: 60px;
    position: fixed;
    top:0;
    width:100%;    
    justify-content: center;
    align-items: center;
  } 
  
  .Header4 {
    flex-grow: 4;
  } 
  
  .Header1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    color:#80A8CC;
    size : 2x;
  }
  
