.circle{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.circleColorBlue{
    background-color: #1e90ff;
}

.circleColor{
    border: 2px solid rgb(220, 220, 220);
}

.boxCircle{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.iconColorWhite {
    color: rgb(255, 255, 255);
}


