.circle{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.circleColorBlue{
    background-color: #1e90ff;
}

.circleColor{
    border: 2px solid rgb(220, 220, 220);
}

.boxCircle{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
}

.boxCircleMain .boxCircle{
    display: flex;
}

.boxCircleHide{
    display: none;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
}

.boxCircle:hover{
    border-bottom: 1px solid #858585;
}

.boxCircle:active{
    border-bottom: 1px solid #1e90ff;
}

.circle:active{
    background-color: #1e90ff;
    border-color: #1e90ff;
}

.iconColorWhite {
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 767px) {
    .boxCircleHide{
        display: flex;
    }

    .boxCircleMain{
        display: none;
    }
}