.Box {
    display:flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
  } 
  
  .Box-Body {
    background-color: lightgray;
    width: 50vw;
  } 
  
  
  .Box-Title {
    height: 50px;
  }
  
  .Box-Detail {
    height: 1000px;  
    margin-top: 20px;
  }