.form {
    display: inline-flex;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.form__input {
    border: none;
    color: darkgray;
    width: 20vw;
}
.form__icon {
    border: none;
    color: lightgray;
}