.navContainer {
    display: flex;
}
.nav {
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid transparent;
}
.nav.active {
    border-bottom: 4px solid #81a9cb;
}
.nav:hover {
    border-bottom: 4px solid #81a9cb;
}
.nav:active {
    border-bottom: 4px solid red;
}
.nav__name {
    text-transform: uppercase;
    padding: 1px 0;
    /* font-size: 0.9vw; */
    font-size: 0.7em;
    color: lightgray;
}
.nav__value {
    text-transform: uppercase;
    font-weight: bold;
    /* font-size: 1vw; */
    font-size: 0.8em;
    color: darkgray;
}
@media only screen and (max-width : 768px) {
    .navContainer {
        flex-direction: column;
    }
    .nav {
    }
}
