body {
  background-color: lightgray
}

.App {
  text-align: center;
}

.body {
  width: 50vw;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 20px;
}

.stat {
  height: 50px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
}

.feed {
  margin-top: 20px;
  height: 1000px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.04);
}
