.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.BodyTwit {
  width: 100%;
  height: 100%;
  flex-flow: column;
}

.headerTwit {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 2px 2px 5px darkgrey;
}

.container{
  background-color: lightgrey;
  padding: 8% 15% 8% 15%;
}

.BoxContain{
  background-color: lightgrey;
}

.menubar{
  position: relative;
  background-color: white;
  height: 50px;
  box-shadow: 2px 2px 5px darkgrey;
}

.TwitterBody{
  background-color: white;
  height: 1000px;
  margin-top: 3%;
  box-shadow: 2px 2px 5px darkgrey;
}

.Logo{
  color:#1DA1F2;
  font-size: 50px;
}
.ConLogo{
  font-size: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
