body {
  background: #f2eee8;
}

.header {
  height: 55px;
  background: #fffbf5;
  box-shadow: 0px 1px 3px #d3d1cd;
}

.container {
  margin: 30px 20vw;
}

.menu {
  height: 60px;
  margin-bottom: 30px;

  background: #fffbf5;
  box-shadow: 0px 1px 3px #d3d1cd;
}

.content {
  height: 1000px;

  background: #fffbf5;
  box-shadow: 0px 1px 3px #d3d1cd;
}