.Logo{
    font-size: 35px;
  }
  .ConLogo{
    flex: 1;
  }
  .leftContain{
    flex: 4;
    justify-content: flex-start;
    align-items: center;
  }
  .rightContain{
    flex: 4;
    justify-content:flex-end;
    align-items: center;
  }
  .leftConLogo{
    height: 60px;
    border-right: 1px solid lightgrey;
    flex:1;
  }
  .logoLeft{
    border: 5px solid rgb(29, 161, 242);
    border-radius: 50%;
    background-color: rgb(29, 161, 242);
  }
  .btnGroup{
    justify-content:flex-start;
    align-items: center;
    flex:9;
  }
  .headerTwit {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
  }
  .userIcon{
    width: 60%;
  }