.Logo{
    color:rgb(29, 161, 242);
    font-size: 35px;
    
  }
.isFlex{
    display: flex;
}
.Center{
    justify-content: center;
    align-items: center;
}
  .ConLogo.Center.isFlex{
    flex: 1;
  }
  .leftContain.isFlex{
    flex: 4;
    justify-content: flex-start;
    align-items: center;
  }
  .rightContain.isFlex{
    flex: 4;
    justify-content:flex-end;
    align-items: center;
  }
  .leftConLogo.isFlex{
    height: 60px;
    width: 50px;
    border-right: 1px solid lightgrey;
    flex:1;
  }
  .logoLeft{
    border: 5px solid rgb(29, 161, 242);
    border-radius: 50%;
    color:white;
    background-color: rgb(29, 161, 242);
  }
  .btnGroup.isFlex{
    justify-content:flex-start;
    align-items: center;
    flex:9;
  }