.Logo{
    color:rgb(29, 161, 242);
    font-size: 35px;
    
  }
  .ConLogo{
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
  }
  .leftContain{
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .rightContain{
    flex: 4;
    justify-content:flex-end;
    align-items: center;
    display: flex;
  }
  .leftConLogo{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
  }
  .logoLeft{
    border: 6px solid rgb(29, 161, 242);
    border-radius: 100%;
    color:white;
    background-color: rgb(29, 161, 242);
  }